




.tokyo_tm_about .about_text  {
    text-align: justify;
    text-justify: inter-word;
}
.tokyo_tm_about .about_text .second {
    text-align: right;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(8 15 109);
}