// portfolio animation
.tokyo_tm_portfolio {
    .mobile_title {
      width: 100%;
      height: auto;
      clear: both;
      float: left;
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      z-index: 2;
      bottom: 0;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      cursor: default;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
  
      h3 {
        font-size: 18px;
        font-weight: 600;
        color: #000;
      }
      span {
        font-family: "Poppins";
        font-weight: 500;
        color: #000;
      }
    }
  }
  
  .tokyo_tm_portfolio .portfolio_filter ul li .inner:hover .mobile_title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }